<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675290848213-m1uag4thq6ks4ikli7jhludkfbiegsjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675290848213-m1uag4thq6ks4ikli7jhludkfbiegsjr</string>
	<key>API_KEY</key>
	<string>AIzaSyCoirpqrRzwQfHGVty44nbBQR-gXaMTM0s</string>
	<key>GCM_SENDER_ID</key>
	<string>675290848213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.palliums.violas</string>
	<key>PROJECT_ID</key>
	<string>violas-push-server</string>
	<key>STORAGE_BUCKET</key>
	<string>violas-push-server.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675290848213:ios:a4833b409a96ff7c8fbb5c</string>
</dict>
</plist>